
.image-style {
   padding-left: 8%;
   
}
.edit-ul {
    padding-left: 45%;
    padding-right: 30%;
}
.pet-image {
    padding-left: 10%;
    padding-right: 10%;
    border-width: 4px;
    border-radius: 10px;
    border-style: solid;
    margin: 7px;
}
#pets {
    display: none;
}
#hidden-pet {
    display: none;
}
.clickable {
    cursor: pointer;
    color: #0088cc;
  }
  
.clickable:hover {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#pets {
    padding-left: 20%;
    padding-right: 20%;
    
}
#more-img:hover {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: #225577;
}
#more-img {
    cursor: -webkit-grab;
    
}